# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible

# Folders
build
coverage
dist
node_modules

# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key

# Files
*.log

# OS
._*
.cache
.DS_Store
Thumbs.db
